pki
*.ovpn
.DS_Store
.idea/*
dumpedterraform.tfstate
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
account.json
.terraform
*.backup
*.hcl
crash.log
.vscode
values-vaulthealth.yaml
.mypy_cache
**_pycache__
*~
.history*
.env
